/* Arquivo com os estilos da pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    border: 3px solid red;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
}

.fundo{
    width: 670px;
    height: 670px;
    border-radius: 670px;
    position: absolute;
    border: 1px solid #000;
    background: radial-gradient(rgb(87, 77, 77) 60%, white 70%, black);
}

.relogio{
    width: 600px;
    height: 600px;
    /*background-color: aqua;*/
    background-color: #000;
    /*background-image: url('../ct_pesadelo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86%;*/
    border-radius: 50%;
    border: 3px solid gray;
    position: relative;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.center{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

.marcador_numeros{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    border: 3px solid blue;
}

.marcador_numeros::before{
    content: "";
    width: 470px;
    height: 470px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid blue;
}

.numero{
    position: absolute;
    padding: 5px;
    font-size: 40px;
    /*border: 3px solid blue;*/
    color: white;
}

.numero__12{top: 10px;}
.numero__1{
    top: 45px;
    right: 155px;
    z-index: 20;
    /*border: 3px solid blue;*/
}

.numero__2{
    top: 140px;
    right: 60px;
    /*border: 3px solid blue;*/
}

.numero__3{right: 25px;}
.numero__6{bottom: 10px;}
.numero__9{left: 25px;}

.ponteiro__segundo{
    width: 5px;
    height: 250px;
    /*background-color: brown;*/
    background-color: #fff;
    border: 0.1px solid #000;
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
    /*transform: translate(0, -50%);*/
    transform-origin: bottom center;
    z-index: 10;
}

.ponteiro__minuto {
    width: 10px;
    height: 260px;
    /*background-color: blue;*/
    background-color: #fff;
    border: 0.2px solid #000;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg);
    transform-origin: bottom center;
}

.ponteiro__hora {
    width: 10px;
    height: 200px;
    /*background-color: red;*/
    background-color: #fff;
    border: 0.2px solid #000;
    position: absolute;
    transform: translate(0, -50%);
    transform-origin: bottom center;
}

